// Declare Variables
$primary-color: #d9d7e1;
$secondary-color: #1a1a1a;
$tertiary-color: #f5f5f5;
$shadow_color: rgba(0, 0, 0, 0.351);

body {
    background-color: $primary-color;
    font-family: emoji;
}

// Restrict from copying text
* {
    user-select: none;
}

.dark_body {
    background-color: $secondary-color;
    color: $primary-color;
}

.mobile_shuffle_button {
    position: fixed;
    bottom: 200px;
    left: 0;
    right: 0;
    margin: auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: $primary-color;
    border: none;
    transition: all 0.5s;
    box-shadow: 0 0 10px 0 $shadow_color;

    &:active {
        background-color: $secondary-color;
        svg {
            fill: $primary-color;
        }
    }
}

.dark_shuffle_button {
    font-family: emoji;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 50px;
    background-color: $primary-color;
    border: 0px solid $secondary-color;
    color: $secondary-color;
    font-size: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.5s ease;

    &:hover {
        background: $secondary-color;
        border-top: 1px solid $primary-color;
        color: $primary-color;
    }

    &:active {
        border-top: 1px solid $primary-color;
        background: $primary-color;
        color: $secondary-color;
    }
}

.shuffle_button {
    font-family: emoji;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 50px;
    background-color: $secondary-color;
    border: 0px solid $primary-color;
    color: $primary-color;
    font-size: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: $primary-color;
    cursor: pointer;
    transition: all 0.5s ease;

    &:hover {
        background: $primary-color;
        border-top: 1px solid $secondary-color;
        color: $secondary-color;
    }

    &:active {
        border-top: 1px solid $secondary-color;
        background: $secondary-color;
        color: $primary-color;
    }
}

.dark_color_cabin {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    max-width: 75%;
    height: 350px;
    border-radius: 5px;
    background: $secondary-color;
    transition: all 0.5s ease;
    cursor: not-allowed;

    .colorTitle {
        margin-top: 25px;
        position: absolute;
        top: 100%;
        left: 50%;
        font-family: emoji;
        font-size: 20px;
        width: 100%;
        font-weight: 600;
        text-align: center;
        letter-spacing: 5px;
        word-spacing: 50px;
        transform: translate(-50%, -50%);
        transition: all 0.5s ease;
        opacity: 0;
    }

    .init_instruction0 {
        top: 93%;
    }

    .init_instruction0,
    .init_instruction1 {
        position: absolute;
        left: 50%;
        font-family: emoji;
        font-size: calc(100%);
        width: 100%;
        font-weight: 600;
        text-align: center;
        word-spacing: 10px;
        transform: translate(-50%, -50%);
        transition: all 0.5s ease;
        opacity: 1;
    }
}

.color_cabin {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    max-width: 75%;
    height: 350px;
    border-radius: 5px;
    background: $primary-color;
    transition: all 0.5s ease;
    cursor: not-allowed;

    .colorTitle {
        margin-top: 25px;
        position: absolute;
        top: 100%;
        left: 50%;
        font-family: emoji;
        font-size: 20px;
        width: 100%;
        font-weight: 600;
        text-align: center;
        letter-spacing: 5px;
        word-spacing: 50px;
        transform: translate(-50%, -50%);
        transition: all 0.5s ease;
        opacity: 0;
    }

    .init_instruction0 {
        top: 93%;
    }

    .init_instruction0,
    .init_instruction1 {
        position: absolute;
        left: 50%;
        font-family: emoji;
        font-size: calc(100%);
        width: 100%;
        font-weight: 600;
        text-align: center;
        word-spacing: 10px;
        transform: translate(-50%, -50%);
        transition: all 0.5s ease;
        opacity: 1;
    }
}

.dark_random_values {
    font-family: emoji;
    position: absolute;
    left: 10px;
    right: 0;
    width: 500px;
    height: 50px;
    text-align: left;
    font-size: 15px;
    color: $primary-color;
    cursor: pointer;

    tr {
        border-bottom: 1px solid $primary-color;
    }

    tbody {
        th {
            &:hover {
                border-left: 3px solid $primary-color;
            }
            padding-left: 5px;
            min-width: 150px;
            width: 150px;
            max-width: 150px;
        }
    }

    td {
        padding-left: 20px;
        &:hover {
            font-weight: bold;
            color: $primary-color;
        }
    }

    thead {
        th {
            color: $primary-color;
            font-size: 20px;
            width: 20px;
        }
    }

    .clickToCopy {
        font-family: emoji;
        font-size: 15px;
        color: #a1a1a1;
        text-align: center;
        cursor: pointer;
    }
}

.random_values {
    font-family: emoji;
    position: absolute;
    left: 10px;
    right: 0;
    width: 500px;
    height: 50px;
    text-align: left;
    font-size: 15px;
    color: $secondary-color;
    cursor: pointer;

    tr {
        border-bottom: 1px solid $secondary-color;
    }

    tbody {
        th {
            &:hover {
                border-left: 3px solid $secondary-color;
            }
            padding-left: 5px;
            min-width: 150px;
            width: 150px;
            max-width: 150px;
        }
    }

    td {
        padding-left: 20px;
        &:hover {
            font-weight: bold;
            color: $secondary-color;
        }
    }

    thead {
        th {
            color: $secondary-color;
            font-size: 20px;
            width: 20px;
        }
    }

    .clickToCopy {
        font-family: emoji;
        font-size: 15px;
        color: $secondary-color;
        text-align: center;
        cursor: pointer;
    }
}

.dark_footer {
    font-family: emoji;
    position: absolute;
    bottom: 55px;
    right: 20px;
    margin: auto;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    color: $primary-color;
    background-color: $secondary-color;
    cursor: pointer;
    a:link {
        color: #b7b7b7;
    }

    a:hover {
        color: #b7b7b7;
    }

    a:active {
        color: #b7b7b7;
    }

    a {
        text-decoration: none;
    }
}

.footer {
    font-family: emoji;
    position: absolute;
    bottom: 55px;
    right: 20px;
    margin: auto;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    color: #464646;
    cursor: pointer;
    a:link {
        color: #464646;
    }

    a:hover {
        color: #464646;
    }

    a:active {
        color: #464646;
    }

    a {
        text-decoration: none;
    }
}

.toast-body-def {
    font-family: emoji;
    font-size: 15px;
    color: $primary-color;
    text-align: center;
}

.dark_darkModeCheck {
    // Position the checkbox at top right corner
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    cursor: pointer;
    color: $primary-color;
    // Style the checkbox
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    // Add Borders
    border: 1px solid $primary-color;
    border-radius: 5px;
    padding: 2px 4px;
    // Add a background color
    background-color: $secondary-color;
    // Transition
    transition: all 0.5s ease;
    // Effect on hover
    &:hover {
        background-color: $primary-color;
        color: $secondary-color;
    }
}

.darkModeCheck {
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    // Position the checkbox at top right corner
    position: absolute;
    color: $primary-color;
    top: 0;
    right: 0;
    margin: 10px;
    cursor: pointer;
    // Add Borders
    border: 1px solid $secondary-color;
    border-radius: 5px;
    padding: 2px 4px;
    // Add a background color
    background-color: $secondary-color;
    // Transition
    transition: all 0.5s ease;
    // Effect on hover
    &:hover {
        background-color: $primary-color;
        color: $secondary-color;
    }
}
