body{
    background-color: #f5f5f5;
    font-family: emoji;
}

.shuffle_button{
    font-family: emoji;

    // Below the div
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 50px;
    background-color: #000;
    border: 0px solid #fff;
    color: #fff;
    font-size: 20px;

    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #f5f5f5;
    cursor: pointer;

    transition: all 0.5s ease;
    &:hover{
        // Background
        background: #f5f5f5;
        border-top: 1px solid #000;
 
        // Color
        color: #000;
    }
    &:active{
        // Background
        border-top: 1px solid #000;

        background: #000;
        // Color
        color: #fff;
    }
}

.color_cabin{
    // In the middle of the screen
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    // Size
    width: 75%;
    max-width: 75%;
    height: 350px;
    // Border
    border-radius: 5px;
    // border: 1px solid #000;
    // box-shadow: 0px 0px 10px 0px #000;
    // Background
    background: #f5f5f5;
    
    // Shadow
    // Transition
    transition: all 0.5s ease;
    // Cursor
    cursor: not-allowed;    
    .colorTitle{
        // Outside the div
        position: absolute;
        top: 100%;
        left: 50%;
        font-family: emoji;
        font-size: 20px;
        width: 100%;
        // font-style: italic;
        font-weight: 600;
        text-align: center;
        letter-spacing: 5px;
        word-spacing: 50px;
        transform: translate(-50%, -50%);
        transition: all 0.5s ease;
        opacity: 0;
    }
    .init_instruction1{
        top: 100%
    }
    .init_instruction0{
        top: 93%
    }
    .init_instruction0, .init_instruction1{
        // Outside the div
        position: absolute;
        left: 50%;
        font-family: emoji;
        font-size: 20px;
        width: 100%;
        // font-style: italic;
        font-weight: 600;
        text-align: center;
        // letter-spacing: 5px;
        word-spacing: 10px;
        transform: translate(-50%, -50%);
        transition: all 0.5s ease;
        opacity: 1;
    }
    
}

.random_values{
    font-family: emoji;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 50px;
    text-align: left;
    font-size: 15px;
    color: rgb(96, 96, 96);
    cursor: pointer;

    tr{
        border-bottom: 1px solid #000;
    }

    td{
        padding-left: 20px;
        &:hover{
            font-weight: bold;
            color: #000;
        }
    }
    thead{
        th{
            color: #000;
            font-size: 20px;
            width: 20px;
        }
    }
}

.footer{
    font-family: emoji;
    position: absolute;
    bottom: 55px;
    right: 20px;
    margin: auto;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    color: #464646;
    cursor: pointer;
    a:link {
        color: #464646;
      }
      
      a:hover {
        color: #464646;
      }
      
      a:active {
        color: #464646;
    }
    a{
        text-decoration: none;
    }
}

.toast-body-def{
    font-family: emoji;
    font-size: 15px;
    color: #464646;
    text-align: center;
}

.clickToCopy{
    font-family: emoji;
    font-size: 15px;
    color: #464646;
    text-align: center;
    cursor: pointer;
}